@tailwind base;
@tailwind components;
@tailwind utilities;

.list{
  padding:20px 0;
}
.list>div{
  padding:8px 0;
}
.list>div:last-child{border-bottom:0;}
.done{
  text-decoration: line-through;
}
.done .Completed{
    background-color:green;
    border-radius:20px;
    border:none;
 }